@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--preta);
    }

    #conteudo {
        background: linear-gradient(180deg, #211E23 0%, var(--cinza) 100%);
    }

    #conteudo #introducao {
        background-image: url(../img/fundo-amarelo-mobile.png);
    }

    #conteudo #introducao .frase-efeito,
    #conteudo #membres .frase-efeito,
    #conteudo #direitos .frase-efeito,
    #conteudo #conselho-municipal .textos .titulo {
        background: linear-gradient(90deg, var(--amarela) 0%, var(--amarela-2) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 4px 4px 4px #ECE35A08, 4px 4px 4px #2423250D;
    }

    #conteudo #introducao .frase-efeito strong {
        background: var(--roxa-escura);
        background-clip: padding-box;
        -webkit-background-clip: padding-box;
        -webkit-text-fill-color: var(--amarela);
    }

    #conteudo #atividades,
    #conteudo #parceires,
    #conteudo #direitos {
        background-color: var(--cinza);
    }
    
    #conteudo #atividades .titulo,
    #conteudo #parceires .titulo {
        background: linear-gradient(90deg, #F2C02900 0%, var(--laranja) 50%, #F2C02900 100%);
        color: var(--preta);
    }
    
    #conteudo #atividades .lista .atividade hr {
        background: linear-gradient(90deg, var(--laranja) 0%, var(--amarela) 100%);
    }

    #conteudo #atividades .lista .atividade p {
        background-color: var(--roxa-escura);
        color: var(--amarela);
    }

    #conteudo #membres,
    #conteudo #conselho-municipal {
        background: linear-gradient(0deg, #242325B3 0%, #242325B3 100%), linear-gradient(180deg, var(--amarela) 0%, var(--laranja) 100%);
    }
    
    #conteudo #membres .ilustracoes .aviso,
    #conteudo #atividades .ilustracoes .aviso {
        color: var(--branca);
    }

    #conteudo #parceires .parceires .parceire .texto {
        background: linear-gradient(100deg, var(--roxa-escura) 0%, var(--roxa-clara) 100%);
    }
    
    #conteudo #parceires .parceires .parceire .texto p,
    #conteudo #conselho-municipal .textos p {
        color: var(--branca);
    }

    #conteudo #parceires .parceires .parceire .texto p strong,
    #conteudo #conselho-municipal .textos p strong {
        color: var(--amarela);
    }

    #conteudo #parceires .parceires .parceire .texto a,
    #conteudo #conselho-municipal .textos a {
        background-color: #24232533;
        border-color: var(--amarela);
        color: var(--amarela);
    }
    #conteudo #parceires .parceires .parceire .texto a:hover,
    #conteudo #parceires .parceires .parceire .texto a:focus-visible,
    #conteudo #conselho-municipal .textos a:hover,
    #conteudo #conselho-municipal .textos a:focus-visible {
        background-color: var(--amarela);
        color: var(--cinza);
    }
    #conteudo #parceires .parceires .parceire .texto a:active,
    #conteudo #conselho-municipal .textos a:active {
        background-color: var(--laranja);
        border-color: var(--laranja);
    }

    #conteudo #direitos .direitos .card {
        background: linear-gradient(100deg, var(--roxa-escura) 0%, var(--roxa-clara) 100%);
    }
    #conteudo #direitos .direitos .card:hover,
    #conteudo #direitos .direitos .card:focus-visible {
        background: linear-gradient(100deg, var(--laranja) 0%, var(--amarela) 100%);
    }
    #conteudo #direitos .direitos .card:hover .texto,
    #conteudo #direitos .direitos .card:focus-visible .texto {
        color: var(--preta);
    }
    #conteudo #direitos .direitos .card:active {
        background: linear-gradient(100deg, var(--amarela) 0%, var(--laranja) 100%);
    }

    #conteudo #direitos .direitos .card .texto {
        color: var(--branca);
    }

    #conteudo #direitos .direitos hr {
        border-color: var(--amarela);
    }
}

@media screen and (prefers-color-scheme: light) and (orientation: landscape) { /* Light desktop */
    #conteudo #introducao {
        background-image: url(../img/fundo-roxo-desktop.png);
    }
}


@media screen and (prefers-color-scheme: dark) and (orientation: landscape) { /* Dark desktop */
    #conteudo #introducao {
        background-image: url(../img/fundo-amarelo-desktop.png);
    }
}
