@charset "UTF-8";

@media screen and (orientation: landscape) {
    body {
        font-size: 1vw;
    }

    #cabecalho .icone {
        display: none;
    }
    #cabecalho .nav-desktop,
    #cabecalho .nav-desktop ul {
        display: flex;
    }
    #cabecalho .nav-desktop ul a {
        padding: 15px 20px;
    }
    #cabecalho .nav-desktop ul .dropdown {
        position: relative;
        display: inline-block;
        margin: auto;
    }
    #cabecalho .nav-desktop ul .dropdown .icone {
        display: inline-block;
        color: var(--amarela);
        padding: 0 15px;
        border-radius: 1em;
        cursor: default;
    }
    #cabecalho .nav-desktop ul .dropdown:hover .icone {
        color: var(--laranja);
    }
    #cabecalho .nav-desktop ul .dropdown:hover .dropdown-content {
        display: flex;
    }
    #cabecalho .nav-desktop ul .dropdown .dropdown-content {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 80%;
        background: radial-gradient(50% 50% at 50% 50%, var(--cinza) 0%, var(--preta) 100%);
        box-shadow: 4px 4px 4px 0px #2425261A;
        border-radius: 30px;
        border: 1.5px dashed var(--branca);
        padding: 1em;
        z-index: 1;
        animation: cima .2s ease-out;
    }
    #cabecalho .nav-desktop ul a.faca-parte {
        border-radius: 30px;
    }

    #conteudo #introducao {
        flex-direction: row;
        justify-content: center;
        padding: 4em 0;
        gap: 10em;
    }
    #conteudo #introducao .frase-efeito {
        letter-spacing: 1.8px;
    }

    #conteudo #finalidades,
    #conteudo #mapeamento, 
    #conteudo #conselho-municipal {
        align-items: flex-start;
    }
    #conteudo #finalidades,
    #conteudo #conselho-municipal {
        flex-direction: row-reverse;
    }
    #conteudo #mapeamento {
        flex-direction: row;
    }
    #conteudo #finalidades .textos,
    #conteudo #mapeamento .textos,
    #conteudo #conselho-municipal .textos {
        width: 597px;
    }
    #conteudo #finalidades .textos .titulo,
    #conteudo #mapeamento .textos .titulo,
    #conteudo #conselho-municipal .textos .titulo {
        line-height: normal;
        max-width: 100%;
    }
    #conteudo #finalidades .img,
    #conteudo #mapeamento .img,
    #conteudo #conselho-municipal .img {
        width: 500px;
    }

    #conteudo #atividades,
    #conteudo #parceires {
        gap: 6em;
    }
    #conteudo #atividades .titulo,
    #conteudo #parceires .titulo {
        padding: 28px 60px 20px 60px;
        line-height: normal;
        width: 90%;
    }
    #conteudo #atividades .lista .atividade hr {
        width: 80%;
    }
    #conteudo #atividades .lista .atividade p {
        border-radius: 0px 0px 50px 50px;
        padding: 15px 25px 25px 25px;
        margin: auto;
    }
    #conteudo #membres .ilustracoes .imgs,
    #conteudo #atividades .ilustracoes .imgs {
        gap: 10em;
    }

    #conteudo #membres .frase-efeito,
    #conteudo #direitos .frase-efeito {
        letter-spacing: 1.6px;
        margin: auto 15%;
    }

    #conteudo #parceires .parceires {
        gap: 5em;
    }
    #conteudo #parceires .parceires .parceire {
        flex-direction: row;
        align-items: center;
        gap: 4em;
    }
    #conteudo #parceires .parceires .parceire:last-child {
        flex-direction: row-reverse;
    }
    #conteudo #parceires .parceires .parceire .texto a,
    #conteudo #mapeamento .textos a,
    #conteudo #conselho-municipal .textos a {
        width: fit-content;
        margin: auto;
    }

    #conteudo #mapeamento .textos a,
    #conteudo #conselho-municipal .textos a {
        margin: .7em 0;
        max-width: fit-content;
    }

    #conteudo #direitos {
        gap: 5em;
        padding: 100px 0 140px;
    }
    #conteudo #direitos .direitos {
        width: 100%;
    }
    #conteudo #direitos .frase-efeito {
        margin: auto 25%;
    }
    #conteudo #direitos .direitos .card {
        flex-direction: row;
        border-radius: 40px;
        width: 575px;
    }
    #conteudo #direitos .direitos .card .texto {
        width: 85%;
        margin: auto 1em;
    }

    #conteudo #conselho-municipal .textos .titulo {
        width: 100%;
    }
    #conteudo #conselho-municipal .textos a {
        padding: 15px 35px;
    }

    #rodape {
        gap: 0em;
    }
    #rodape .container-logo-contatos {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }
    #rodape .contatos {
        align-items: flex-end;
        z-index: 1;
    }
    #rodape .contatos .card-tell {
        max-width: fit-content;
    }
    #rodape .contatos .card-tell .titulo {
        align-items: flex-end;
        gap: 8px;
    }
    #rodape .contatos .card-tell .titulo .texto {
        line-height: normal;
    }
    #rodape .contatos .card-tell .tells .tell {
        gap: 8px;
    }
    #rodape .contatos .card-tell .tells .tell .texto.mobile {
        display: none;
    }
    #rodape .contatos .card-tell .tells .tell .texto.desktop {
        display: inline;
    }
    #rodape .tells-emergencia {
        gap: .5em;
        width: 98%;
    }
    #rodape .tells-emergencia .texto {
        max-width: 27vw;
    }
}

@media screen and (min-width: 1200px) and (orientation: landscape) { /* Desktop */
    #cabecalho {
        padding: 10px 60px;
        padding-left: 40px;
    }
    #cabecalho .logo {
        width: 315px;
    }
    #cabecalho .nav-desktop ul a {
        font-size: 24px;
        padding: 15px 20px;
    }
    #cabecalho .nav-desktop ul .dropdown .icone {
        font-size: 2.4em;
    }
    #cabecalho .nav-desktop ul .dropdown .dropdown-content {
        border-radius: 30px;
        margin-left: -150%;
    }
    #cabecalho .nav-desktop ul a.faca-parte {
        border-radius: 30px;
        padding: 15px 30px;
    }

    #conteudo #introducao .ilustracao {
        width: 680px;
    }
    #conteudo #introducao .frase-efeito {
        font-size: 36px;
        line-height: 60px;
        transform: translate(-20%, -22%);
    }
    #conteudo #introducao .frase-efeito strong {
        padding-top: .17em;
    }

    #conteudo #finalidades,
    #conteudo #mapeamento, 
    #conteudo #conselho-municipal {
        padding: 60px 30px;
        gap: 5em;
    }
    #conteudo #finalidades .textos .titulo,
    #conteudo #mapeamento .textos .titulo,
    #conteudo #conselho-municipal .textos .titulo {
        font-size: 32px;
    }
    #conteudo #finalidades .textos .lista {
        padding-left: 36px;
    }
    #conteudo #finalidades .textos .lista li,
    #conteudo #mapeamento .textos p,
    #conteudo #conselho-municipal .textos p {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #finalidades .textos .lista li::before {
        left: -7%;
    }
    #conteudo #finalidades .img img,
    #conteudo #mapeamento .img img,
    #conteudo #conselho-municipal .img img {
        border-radius: 40px;
    }

    #conteudo #atividades .titulo,
    #conteudo #parceires .titulo {
        font-size: 32px;
    }
    #conteudo #atividades .lista .atividade p {
        font-size: 24px;
        line-height: 40px;
        width: 50%;
    }
    #conteudo #atividades .lista .atividade:nth-child(odd) p {
        transform: translateX(-100px);
    }
    #conteudo #atividades .lista .atividade:nth-child(even) p {
        transform: translateX(100px);
    }
    #conteudo #atividades .ilustracoes {
        margin-top: auto;
    }
    #conteudo #membres .ilustracoes hr,
    #conteudo #atividades .ilustracoes hr {
        transform: translateY(490%);
    }
    #conteudo #membres .ilustracoes .imgs,
    #conteudo #atividades .ilustracoes .imgs {
        padding-left: calc(100vw - 67vw);
        padding-right: calc(100vw - 67vw);
    }
    #conteudo #membres .ilustracoes .imgs figure,
    #conteudo #atividades .ilustracoes .imgs figure {
        border-radius: 2.7em;
        width: 33vw;
    }
    #conteudo #membres .ilustracoes .imgs figure img,
    #conteudo #atividades .ilustracoes .imgs figure img {
        pointer-events: none;
    }
    #conteudo #membres .ilustracoes .aviso,
    #conteudo #atividades .ilustracoes .aviso {
        font-size: 18px;
    }
    #conteudo #membres .ilustracoes .aviso .icone,
    #conteudo #atividades .ilustracoes .aviso .icone {
        margin-bottom: auto;
        margin-top: -1px;
    }

    #conteudo #membres {
        padding: 50px 0px 120px 0px;
        gap: 80px;
    }
    #conteudo #membres .frase-efeito,
    #conteudo #direitos .frase-efeito {
        font-size: 32px;
        line-height: 60px;
        letter-spacing: 1.6px;
        margin: auto 22%;
    }
    #conteudo #membres .diretories {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    #conteudo #membres .diretories .ilustracoes hr {
        transform: translateY(550%);
    }
    #conteudo #membres .diretories .ilustracoes .imgs {
        padding-left: calc(100vw - 62vw);
        padding-right: calc(100vw - 62vw);
    }
    #conteudo #membres .diretories .ilustracoes .imgs figure {
        border-radius: 2.9em;
        width: 23vw;
    }
    #conteudo #membres .diretories .ilustracoes .imgs figure figcaption {
        font-size: 24px;
        bottom: 2.4vh;
    }

    #conteudo #parceires .parceires .parceire .img {
        width: 320px;
    }
    #conteudo #parceires .parceires .parceire .texto {
        width: 630px;
        padding: 30px 40px 40px 40px;
        border-radius: 40px;
    }
    #conteudo #parceires .parceires .parceire .texto p {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #parceires .parceires .parceire .texto a,
    #conteudo #mapeamento .textos a,
    #conteudo #conselho-municipal .textos a {
        border-radius: 40px;
        font-size: 26px;
        line-height: normal;
    }
    #conteudo #parceires .parceires .parceire .texto a .icone,
    #conteudo #mapeamento .textos a .icone,
    #conteudo #conselho-municipal .textos a .icone {
        font-size: 1em;
    }

    #conteudo #direitos .direitos .card {
        border-radius: 40px;
        width: 575px;
    }
    #conteudo #direitos .direitos .card:nth-child(1) {
        transform: translateX(-100px);
    }
    #conteudo #direitos .direitos .card:last-child {
        transform: translateX(100px);
    }
    #conteudo #direitos .direitos .card .img {
        width: 220px;
        height: 160px;
        border-radius: 40px;
    }
    #conteudo #direitos .direitos .card .texto {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #direitos .direitos hr {
        width: 70%;
    }

    #conteudo #topo {
        right: 2%;
        padding: 1.4% 2%;
        font-size: 3.3em;
    }

    #rodape {
        padding: 70px 100px 50px;
    }
    #rodape .logo {
        width: 350px;
    }
    #rodape .logo img {
        border-radius: 30px;
    }
    #rodape .contatos {
        gap: 70px;
    }
    #rodape .contatos .card-tell {
        border-radius: 40px;
        padding: 35px;
    }
    #rodape .contatos .card-tell .titulo img {
        width: 35px;
    }
    #rodape .contatos .card-tell .titulo .texto {
        font-size: 28px;
        line-height: normal;
    }
    #rodape .contatos .card-tell .titulo .icone {
        font-size: .75em;
    }
    #rodape .contatos .card-tell .tells .tell .icone,
    #rodape .tells-emergencia .tells .tell .icone {
        font-size: 1.3em;
    }
    #rodape .contatos .card-tell .tells .tell {
        font-size: 24px;
        border-radius: 30px;
    }
    #rodape .tells-emergencia {
        margin-top: -345px;
    }
    #rodape .tells-emergencia .texto {
        font-size: 24px;
    }
    #rodape .tells-emergencia .tells .tell {
        font-size: 20px;
    }
    #rodape .img {
        margin-top: 15%;
    }
}

@media screen and (max-width: 1200px) and (orientation: landscape) { /* Mobile Deitado */
    #cabecalho .logo {
        width: 215px;
    }
    #cabecalho .nav-desktop ul a {
        padding: 10px 10px;
    }
    #cabecalho .nav-desktop ul .dropdown {
        margin-right: 2.4em;
    }
    #cabecalho .nav-desktop ul .dropdown .icone {
        font-size: 3.4em;
    }
    #cabecalho .nav-desktop ul .dropdown .dropdown-content {
        border-radius: 20px;
        margin-left: -200%;
    }
    #cabecalho .nav-desktop ul a.faca-parte {
        padding: 10px 20px;
    }

    #conteudo #introducao .ilustracao {
        width: 335px;
    }
    #conteudo #introducao .frase-efeito {
        font-size: 28px;
        transform: translate(-15%, -2%);
    }

    #conteudo #finalidades,
    #conteudo #mapeamento, 
    #conteudo #conselho-municipal {
        padding: 45px 30px;
        gap: 4em;
    }
    #conteudo #finalidades .textos .lista {
        padding-left: 4em;
    }
    #conteudo #finalidades .textos .lista li::before {
        left: -9%;
    }
    #conteudo #finalidades .img img,
    #conteudo #mapeamento .img img,
    #conteudo #conselho-municipal .img img {
        border-radius: 40px;
    }

    #conteudo #atividades,
    #conteudo #parceires,
    #conteudo #direitos {
        padding: 70px 0;
    }
    #conteudo #atividades .lista .atividade p {
        width: 60%;
    }
    #conteudo #atividades .lista .atividade:nth-child(odd) p {
        transform: translateX(-40px);
    }
    #conteudo #atividades .lista .atividade:nth-child(even) p {
        transform: translateX(40px);
    }
    #conteudo #atividades .ilustracoes {
        margin-top: -1em;
    }
    #conteudo #membres .ilustracoes hr,
    #conteudo #atividades .ilustracoes hr {
        transform: translateY(32vh);
    }
    #conteudo #membres .ilustracoes .imgs,
    #conteudo #atividades .ilustracoes .imgs {
        padding-left: calc(100vw - 70vw);
        padding-right: calc(100vw - 70vw);
    }
    #conteudo #membres .ilustracoes .imgs figure,
    #conteudo #atividades .ilustracoes .imgs figure {
        border-radius: 5em;
        width: 40vw;
    }
    #conteudo #membres .ilustracoes .aviso,
    #conteudo #atividades .ilustracoes .aviso {
        margin-top: 2em;
    }

    #conteudo #membres {
        padding: 45px 0px 70px 0px;
        gap: 10em;
    }
    #conteudo #membres .diretories .ilustracoes hr {
        transform: translateY(35vh);
    }
    #conteudo #membres .diretories .ilustracoes .imgs {
        padding-left: calc(100vw - 64vw);
        padding-right: calc(100vw - 64vw);
    }
    #conteudo #membres .diretories .ilustracoes .imgs figure {
        width: 220px;
    }
    #conteudo #membres .diretories .ilustracoes .imgs figure figcaption {
        font-size: 16px;
        bottom: 2.4vh;
    }

    #conteudo #parceires .parceires .parceire .texto {
        width: 430px;
    }
    #conteudo #parceires .parceires .parceire .texto a {
        gap: 20px;
    }

    #conteudo #direitos .direitos {
        gap: 40px;
    }
    #conteudo #direitos .direitos .card {
        width: 555px;
    }
    #conteudo #direitos .direitos .card .img {
        width: 200px;
        height: 140px;
    }
    #conteudo #direitos .direitos hr {
        width: 80%;
    }

    #conteudo #topo {
        right: 2.5%;
        padding: 2% 2.9%;
        font-size: 5em;
    }

    #rodape {
        padding: 60px 40px 10px;
    }
    #rodape .contatos {
        gap: 40px;
    }
    #rodape .contatos .card-tell .titulo img {
        width: 30px;
    }
    #rodape .contatos .card-tell .titulo .icone {
        font-size: 1.2em;
    }
    #rodape .tells-emergencia {
        margin-top: -35%;
    }
    #rodape .img {
        width: 250px;
        margin-top: 16%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1200px) and (orientation: portrait) { /* Tablets */
    #cabecalho {
        padding: 10px 40px;
        padding-left: 20px;
    }
    #cabecalho .icone {
        font-size: 4.5em;
    }
    #cabecalho #modal-container #menu h2 {
        font-size: 28px;
    }
    #cabecalho #modal-container #menu .nav ul a,
    #cabecalho .nav-desktop ul a {
        font-size: 24px;
    }

    #conteudo #finalidades,
    #conteudo #mapeamento,
    #conteudo #conselho-municipal {
        padding: 45px 40px 90px;
        gap: 5em;
    }
    #conteudo #finalidades .textos,
    #conteudo #mapeamento .textos,
    #conteudo #conselho-municipal .textos {
        gap: 1em;
    }
    #conteudo #finalidades .textos .titulo,
    #conteudo #mapeamento .textos .titulo,
    #conteudo #conselho-municipal .textos .titulo {
        font-size: 28px;
    }
    #conteudo #finalidades .textos .lista {
        padding-left: 3.5em;
    }
    #conteudo #finalidades .textos .lista li,
    #conteudo #mapeamento .textos p,
    #conteudo #conselho-municipal .textos p {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #finalidades .textos .lista li::before {
        left: -9%;
    }
    #conteudo #finalidades .img,
    #conteudo #mapeamento .img,
    #conteudo #conselho-municipal .img {
        width: 415px;
    }
    #conteudo #finalidades .img img,
    #conteudo #mapeamento .img img,
    #conteudo #conselho-municipal .img img {
        border-radius: 45px;
    }
    #conteudo #atividades,
    #conteudo #parceires,
    #conteudo #direitos {
        gap: 6em;
    }
    #conteudo #atividades .titulo,
    #conteudo #parceires .titulo {
        font-size: 28px;
        line-height: 40px;
    }
    #conteudo #atividades .lista {
        gap: 5em;
    }
    #conteudo #atividades .lista .atividade p {
        font-size: 22px;
        line-height: 35px;
        padding: 20px 25px 30px;
    }
    #conteudo #membres .ilustracoes .aviso,
    #conteudo #atividades .ilustracoes .aviso {
        font-size: 20px;
    }
    #conteudo #membres .ilustracoes .aviso .icone,
    #conteudo #atividades .ilustracoes .aviso .icone {
        font-size: 1.4em;
    }
    #conteudo #membres .frase-efeito,
    #conteudo #direitos .frase-efeito {
        font-size: 28px;
        line-height: 45px;
    }
    #conteudo #membres {
        gap: 100px;
        padding: 50px 0px 110px;
    }
    #conteudo #membres .ilustracoes hr,
    #conteudo #atividades .ilustracoes hr {
        transform: translateY(500%);
    }
    #conteudo #membres .diretories .ilustracoes hr {
        transform: translateY(650%);
    }
    #conteudo #membres .diretories .ilustracoes .imgs figure figcaption {
        font-size: 22px;
        bottom: 2.8vh;
    }
    #conteudo #parceires .parceires .parceire {
        gap: 4em;
    }
    #conteudo #parceires .parceires .parceire .img {
        width: 350px;
    }
    #conteudo #parceires .parceires .parceire .img img {
        border-radius: 45px;
    }
    #conteudo #parceires .parceires .parceire .texto {
        width: 430px;
        padding: 28px 35px 40px;
    }
    #conteudo #parceires .parceires .parceire .texto p {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #parceires .parceires .parceire .texto a,
    #conteudo #mapeamento .textos a,
    #conteudo #conselho-municipal .textos a {
        font-size: 26px;
        line-height: 32px;
    }
    #conteudo #parceires .parceires .parceire .texto a .icone,
    #conteudo #mapeamento .textos a .icone,
    #conteudo #conselho-municipal .textos a .icone {
        font-size: 1.15em;
    }
    #conteudo #mapeamento .textos a {
        margin: .9em auto 1em;
        max-width: 300px;
    }
    #conteudo #direitos .direitos .card {
        width: 330px;
        border-radius: 45px;
    }
    #conteudo #direitos .direitos .card .img {
        width: 330px;
        border-radius: 45px;
    }
    #conteudo #direitos .direitos .card .texto {
        font-size: 24px;
        line-height: 40px;
    }
    #conteudo #direitos .direitos hr {
        width: 120%;
    }
    #conteudo #conselho-municipal .textos .titulo {
        width: 100%;
    }
    #conteudo #conselho-municipal .textos a {
        max-width: 360px;
    }
    #conteudo #topo {
        right: 4.5%;
        bottom: 4%;
        padding: 5% 6.5%;
        font-size: 4em;
    }
    
    #rodape {
        padding: 70px 31px 90px;
        gap: 8em;
    }
    #rodape .logo {
        width: 250px;
    }
    #rodape .contatos .card-tell {
        padding: 35px 30px;
        gap: 5px;
        border-radius: 30px;
        max-width: 400px;
    }
    #rodape .contatos .card-tell .titulo .texto {
        font-size: 24px;
    }
    #rodape .contatos .card-tell .titulo img {
        width: 40px;
    }
    #rodape .contatos .card-tell .titulo .icone {
        font-size: 1.2em;
    }
    #rodape .contatos .card-tell .tells .tell {
        font-size: 22px;
    }
    #rodape .contatos .card-tell .tells .tell .icone,
    #rodape .tells-emergencia .tells .tell .icone {
        font-size: 1.3em;
    }
    #rodape .tells-emergencia {
        width: 350px;
    }
    #rodape .tells-emergencia .texto {
        font-size: 22px;
    }
    #rodape .tells-emergencia .tells .tell {
        font-size: 20px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) and (orientation: portrait) { /* Particularidades de celulares maiores */
    #conteudo #membres .ilustracoes hr,
    #conteudo #atividades .ilustracoes hr {
        transform: translateY(390%);
    }
    #conteudo #membres .diretories .ilustracoes hr {
        transform: translateY(550%);
    }
}

@media screen and (min-width: 1500px) and (orientation: landscape) { /* Particularidades de telas enormes */
    #cabecalho .nav-desktop ul .dropdown {
        padding-right: 1em;
    }

    #conteudo #membres .ilustracoes hr,
    #conteudo #atividades .ilustracoes hr {
        transform: translateY(550%);
    }
    #conteudo #membres .diretories .ilustracoes hr {
        transform: translateY(650%);
    }
}
