@charset 'UTF-8';

/* Cabeçalho */
#cabecalho {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 10px;
}
#cabecalho .logo {
    width: 215px;
    height: auto;
}
#cabecalho .icone {
    font-size: 7em;
    cursor: pointer;
}
#cabecalho #modal-container {
    background-color: transparent;
    display: none;
    width: max-content;
    height: max-content;
    z-index: 3;
    border: 0;
}
#cabecalho #modal-container #transparencia {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2px);
    animation: fade .1s ease-out;
}
#cabecalho #modal-container #menu {
    position: fixed;
    top: 0;
    background: radial-gradient(50% 50% at 50% 50%, #242526 0%, #000000 100%);
    box-shadow: 4px 4px 4px 0px rgba(36, 37, 38, 0.10);
    padding: 5.5em 4em;
    border-bottom-right-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: max-content;
    height: 100vh;
    animation: esquerda .35s ease-out .1s both;
}
#cabecalho #modal-container #menu h2 {
    font-size: 24px;
    font-family: var(--titulo);
    font-weight: 400;
    color: white;
}
#cabecalho #modal-container #menu hr {
    border-color: var(--amarela);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    margin: 1em auto .9em;
}
#cabecalho #modal-container #menu .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
#cabecalho #modal-container #menu .nav ul a {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
}
#cabecalho #modal-container #menu .nav ul a:hover {
    color: var(--amarela);
}
#cabecalho #modal-container #menu .nav ul a:active {
    color: var(--laranja);
}
#cabecalho #modal-container #menu .nav ul a#faca-parte {
    border-radius: 25px;
    background-color: var(--amarela);
    box-shadow: 0px 4px 4px 0px rgba(242, 229, 48, 0.05), 0px 4px 4px 0px rgba(255, 255, 255, 0.10);
    color: var(--preta);
    font-weight: 600;
}
#cabecalho #modal-container #menu .nav ul a#faca-parte:hover {
    background-color: var(--laranja);
}
#cabecalho #modal-container #menu .nav ul a#faca-parte:active {
    background-color: white;
    color: var(--laranja);
}

/* Conteúdo */
#conteudo #introducao {
    background: url(../img/fundo-roxo.jpg) no-repeat;
    background-size: cover;
    padding: 8em 0 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
#conteudo #introducao .ilustracao {
    width: 335px;
    height: auto;
}
#conteudo #introducao .frase-efeito {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background: linear-gradient(106deg, var(--roxa-clara) 0%, var(--roxa-escura) 97.93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#conteudo #introducao .frase-efeito strong {
    font-weight: 400;
    background: var(--amarela);
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: var(--roxa-clara);
    box-shadow: 0px 4px 4px 0px rgba(235, 242, 29, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: .4em .1em 0 .15em;
}

#conteudo #finalidades,
#conteudo #mapeamento {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 80px;
    justify-content: center;
    align-items: center;
    gap: 6em;
    align-self: stretch;
    background: linear-gradient(180deg, var(--roxa-clara) 0%, var(--roxa-escura) 100%);
    box-shadow: 0px 4px 4px 0px rgba(113, 60, 166, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo #finalidades .textos,
#conteudo #mapeamento .textos {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#conteudo #finalidades .textos .titulo,
#conteudo #mapeamento .textos .titulo {
    font-size: 24px;
    font-family: var(--titulo);
    font-weight: 400;
}
#conteudo #finalidades .textos .lista {
    padding-left: 4.5em;
}
#conteudo #finalidades .textos .lista li,
#conteudo #mapeamento .textos p {
    position: relative;
    list-style: none;
    font-size: 20px;
    font-family: var(--texto);
    line-height: 35px;
}
#conteudo #finalidades .textos .lista li::before {
    content: "⭐";
    position: absolute;
    left: -12%;
}
#conteudo #finalidades .textos .lista li strong,
#conteudo #mapeamento .textos p strong {
    font-weight: bolder;
    color: var(--amarela);
}
#conteudo #finalidades .img,
#conteudo #mapeamento .img {
    width: 315px;
    height: auto;
}
#conteudo #finalidades .img img,
#conteudo #mapeamento .img img {
    border-radius: 35px;
    border: 1.5px dashed var(--roxa-escura);
    filter: drop-shadow(0px 4px 4px 0px rgba(0, 0, 0, 0.10));
}

#conteudo #atividades,
#conteudo #parceires,
#conteudo #direitos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    margin: 100px auto;
}
#conteudo #atividades .titulo,
#conteudo #parceires .titulo {
    padding: 22px 40px 15px 40px;
    background: linear-gradient(90deg, rgba(113, 60, 166, 0.00) 0%, var(--roxa-escura) 50%, rgba(113, 60, 166, 0.00) 100%);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    width: 90%;
}
#conteudo #atividades .lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6em;
}
#conteudo #atividades .lista .atividade hr {
    width: 90%;
    height: 10px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--roxa-clara) 0%, var(--roxa-escura) 100%);
    box-shadow: 0px 4px 4px 0px rgba(106, 78, 166, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
#conteudo #atividades .lista .atividade p {
    border-radius: 0px 0px 40px 40px;
    background: var(--amarela);
    box-shadow: 0px 4px 4px 0px rgba(235, 242, 29, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    color: var(--roxa-escura);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(113, 60, 166, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.05);
    font-family: var(--texto);
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    padding: 10px 15px 20px 15px;
    margin: auto;
    width: 85%;
}
#conteudo #atividades .lista .atividade p strong {
    font-weight: bolder;
}
#conteudo #membres .ilustracoes,
#conteudo #atividades .ilustracoes {
    position: relative;
    width: 100%;
    height: auto;
}
#conteudo #membres .ilustracoes hr,
#conteudo #atividades .ilustracoes hr {
    border: 18px solid var(--amarela);
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(242, 229, 48, 0.05);
    transform: translateY(16vh);
}
#conteudo #membres .ilustracoes .imgs-container,
#conteudo #atividades .ilustracoes .imgs-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: auto;
}
#conteudo #membres .ilustracoes .imgs-container::-webkit-scrollbar,
#conteudo #atividades .ilustracoes .imgs-container::-webkit-scrollbar {
    height: 0;
}
#conteudo #membres .ilustracoes .imgs,
#conteudo #atividades .ilustracoes .imgs {
    display: flex;
    gap: 5em;
    width: max-content;
    height: auto;
    padding-left: calc(100vw - 335px);
    padding-right: calc(100vw - 335px);
    overflow-x: auto;
}
#conteudo #membres .ilustracoes .imgs figure,
#conteudo #atividades .ilustracoes .imgs figure {
    border-radius: 35px;
    overflow: hidden;
    width: 283px;
    height: max-content;
    z-index: 1;
}
#conteudo #membres .ilustracoes .imgs figure img,
#conteudo #atividades .ilustracoes .imgs figure img {
    border-radius: 35px;
    border: 1.5px dashed var(--roxa-escura);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo #membres .ilustracoes .aviso,
#conteudo #atividades .ilustracoes .aviso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    color: var(--preta);
    font-size: 16px;
    font-weight: 400;
    margin-top: 3em;
}

#conteudo #membres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    padding: 40px 0px 100px 0px;
    background: linear-gradient(180deg, var(--amarela) 0%, var(--laranja) 100%);
    box-shadow: 0px 4px 4px 0px rgba(242, 229, 48, 0.05), 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo #membres .frase-efeito,
#conteudo #direitos .frase-efeito {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(242, 229, 48, 0.05), 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: var(--titulo);
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background: linear-gradient(91deg, var(--roxa-escura) 0%, var(--roxa-clara) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto 5%;
}
#conteudo #membres .ilustracoes hr {
    border-color: var(--roxa-clara);
}

#conteudo #parceires .parceires,
#conteudo #parceires .parceires .parceire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
}
#conteudo #parceires .parceires .parceire {
    gap: 4em;
}
#conteudo #parceires .parceires .parceire .img {
    width: 250px;
    height: auto;
}
#conteudo #parceires .parceires .parceire .img img {
    border-radius: 35px;
    border: 1.5px dashed var(--roxa-escura);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo #parceires .parceires .parceire .texto {
    display: flex;
    width: 315px;
    padding: 18px 25px 30px 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 30px;
    background: linear-gradient(100deg, var(--laranja) 0%, var(--amarela) 100%);
    box-shadow: 4px 4px 4px 0px rgba(242, 229, 48, 0.05), 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
}
#conteudo #parceires .parceires .parceire .texto p {
    color: var(--preta);
    font-family: var(--texto);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}
#conteudo #parceires .parceires .parceire .texto a,
#conteudo #mapeamento .textos a {
    display: flex;
    padding: 15px 35px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 30px;
    border: 2px solid var(--roxa-clara);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 4px 4px 4px 0px rgba(106, 78, 166, 0.05), 4px 4px 4px 0px rgba(36, 37, 38, 0.10);
    color: var(--roxa-clara);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}
#conteudo #parceires .parceires .parceire .texto a:hover {
    background-color: var(--roxa-clara);
    color: white;
}
#conteudo #parceires .parceires .parceire .texto a:active {
    background-color: var(--roxa-escura);
}
#conteudo #parceires .parceires .parceire .texto a strong {
    font-weight: 700;
}
#conteudo #parceires .parceires .parceire .texto a .icone,
#conteudo #mapeamento .textos a .icone {
    font-size: 1.5em;
}

#conteudo #mapeamento .textos {
    gap: .5em;
}
#conteudo #mapeamento .textos .titulo {
    line-height: 35px;
}
#conteudo #mapeamento .textos a {
    border: none;
    background-color: var(--amarela);
    color: var(--preta);
    margin: .9em 5% 1em;
}
#conteudo #mapeamento .textos a:hover {
    background-color: var(--laranja);
}
#conteudo #mapeamento .textos a:active {
    background-color: white;
    color: var(--laranja);
}

#conteudo #direitos .frase-efeito {
    margin: auto 8%;
}
#conteudo #direitos .direitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#conteudo #direitos .direitos .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    background: linear-gradient(100deg, var(--laranja) 0%, var(--amarela) 100%);
    box-shadow: 4px 4px 4px 0px rgba(242, 229, 48, 0.05), 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
    width: 280px;
}
#conteudo #direitos .direitos .card:hover {
    background: linear-gradient(100deg, var(--roxa-escura) 0%, var(--roxa-clara) 100%);
}
#conteudo #direitos .direitos .card:hover .img img {
    transform: scale(1.2);
}
#conteudo #direitos .direitos .card:hover .texto {
    color: white;
}
#conteudo #direitos .direitos .card:active {
    background: linear-gradient(100deg, var(--roxa-clara) 0%, var(--roxa-escura) 100%);
}
#conteudo #direitos .direitos .card .img {
    width: 280px;
    height: auto;
    border-radius: 35px;
    overflow: hidden;
}
#conteudo #direitos .direitos .card .img img {
    border-radius: 35px;
    background: linear-gradient(180deg, rgba(106, 78, 166, 0.00) 0%, rgba(106, 78, 166, 0.50) 100%), lightgray -9px 0px / 117.857% 100% no-repeat;
    transition: .2s ease-out;
}
#conteudo #direitos .direitos .card .texto {
    color: var(--preta);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    width: 85%;
    margin: .6em auto 1em;
    transition: .2s ease-out;
}
#conteudo #direitos .direitos hr {
    border-color: var(--roxa-clara);
    box-shadow: 0px 0px 6px 0px rgba(106, 78, 166, 0.05), 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}

#conteudo #topo {
    position: fixed;
    right: 3%;
    bottom: 6%;
    background-color: var(--roxa-clara);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.158);
    color: white;
    border-radius: 50%;
    padding: 3%;
    font-size: 7em;
    cursor: pointer;
    transition-duration: .4s;
    z-index: 2;
    animation: fade .5s ease;
}
#conteudo #topo:hover,
#conteudo #topo:focus-visible {
    background-color: var(--roxa-escura);
}
#conteudo #topo:active {
    background-color: white;
    color: var(--roxa-escura);
}
#conteudo #topo:focus-visible {
    outline: auto;
}



:root {
    --roxa-escura: #713CA6;
    --roxa-clara: #6A4EA6;
    --amarela: #F2E530;
    --laranja: #F2C029;
    --preta: #242526;
    --titulo: 'titulo', sans-serif;
    --padrao: "Open Sans", sans-serif;
    --texto: "texto", sans-serif;
}